.homeText {
  font-size: large;
}

.inputSearch{
  width:300px;
  margin: 5px !important;
  padding: 5px !important;
}

.center {
  text-align: center;
}

.labelStyle{
  font-size: large;
  font-weight: bold;
}

.spanStyle{
  color: #111111;
  float: left;
  font-size: large;
  font-style: italic;
  margin-left: 2em;
}
